<div class="container">
    <!-- <h2>Flights From {{searchResults.origin}} Origin to {{searchResults.destination}} Destination</h2> -->
    <h2>All FLights</h2>
    <br>
    <table class="table table-info">
      <thead class="card-header">
      <tr>
        <th>Flight Available</th>
        <th>Origin Time</th>
        <th>Time Taken</th>
        <th>Destination Time</th>
        <th>Price</th>
        <th>Take Flight</th>
      </tr>
    </thead>
    <tbody class="card-body">
      <tr *ngFor="let flight of searchflight ">
        <td>{{flight.flightNumber}}</td>
        <td>{{flight.origin}}</td>
        <td>{{flight.destination}}</td>
        <td>{{flight.departureDate}}</td>
        <td>{{flight.departureTime}}</td>
        <td>
          <button class="btn btn-primary" (click)="deleteflight(flight.flightNumber)">Delete </button>
          <button class="btn btn-primary mx-1"><a class="adminupdate" routerLink="/updateFlight/{{flight.flightNumber}}"> Update</a></button>
        </td>
      </tr>
    </tbody>
    </table>

</div>
