.flight-search {
    text-align: center;
    padding: 20px;
  }
  
  .search-form {
    margin: 20px auto;
    width: 300px;
  }
  
  .search-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .search-form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .search-results {
    margin-top: 20px;
  }
  
  .flight-details {
    display: flex;
    justify-content: space-between;
  }
  
  .price {
    font-weight: bold;
  }
  .even
  {
    color: antiquewhite;
    background-color: tomato;
  }
  .odd
  {
    color: antiquewhite;
    background-color: aqua;
  }