<div class="container">
    <h2>Flights From {{searchResults.origin}} Origin to {{searchResults.destination}} Destination</h2>
    <br>
    <table class="table table-info">
      <thead class="card-header">
      <tr>
        <th>Flight Available</th>
        <th>Origin Time</th>
        <th>Time Taken</th>
        <th>Destination Time</th>
        <th>Price</th>
        <th>Take Flight</th>
      </tr>
    </thead>
    <tbody class="card-body">
      <tr *ngFor="let flight of flightresult ">
        <td>{{flight.flightName}}</td>
        <td>{{flight.originTime | date :'shortTime'}}</td>
        <td>{{flight.timeTaken}}</td>
        <td>{{flight.destinationTime | date :'shortTime'}}</td>
        <td>{{flight.Price}}</td>
        <td>
          <button class="btn btn-primary" (click)="ViewDetails(flight.flightId)">Take FLight</button>
        </td>
      </tr>
    </tbody>
    </table>

</div>

