#navbarSupportedContent{
    /* background-color: aqua; */
    display: flex;
    /* border-bottom: 2px solid black; */
    justify-content: flex-end;

}
.headerheading{
    /* filter: blur(1px); */
    /* background: none; */
    color: whit;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
    border-bottom: 2px solid black;
    /* background-color: rgb(2, 15, 15); */
}
.homecontainer{
    background-color: aqua;
}
.navbarbutton a{
    background: none;
    color: white;
    text-decoration: none;
}
.navbarlist{
    border: none;
    color: antiquewhite;
}