<!-- <div class="outercontainer">
    <div class="homecontainer">
        <div>
            <input type="email" placeholder="Email">
            <br>
            <input type="password" placeholder="Password">
        </div>
    <div>
        <button>Login</button>
    </div>
    <div class="signupbutton">
        <h5>Create new Account</h5>
        <button><a href="signup">SIGN UP</a></button>
    </div>
    <button>Login</button>
    <div class="adminloginhome">
        <p>Login as a Admin</p> 
        <a href="adminlogin">Admin Login</a>
    </div>
</div>
</div> -->

<div class="loginpage">

    <div  class="innerlogin" >
        <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
            <div class="card auth">
        <div class="card-body auth-card">
          <div class="auth-avatar">
              <img src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png" alt="user" class="user-image">
            </div>
            <h3>{{authError}}</h3>
          <form #loginform="ngForm" (ngSubmit)="login(loginform.value)">
              <!-- (submit)="login(userData)" -->
              <div class="form-group">
                  <label for="userEmail">Email : </label>
                  <input type="text" class="form-control" placeholder="Email" required [(ngModel)]="user.userEmail" name="userEmail" required #userEmail="ngModel" pattern="[a-zA-Z0-9]+@[a-z]+.[a-z]{2,4}">
                  <div *ngIf="userEmail.touched && userEmail.errors?.['required']">
                    <div class="alert alert-danger" style="padding: 0;">
                        Email is blank
                    </div>
                </div>
                <div *ngIf="userEmail.errors?.['pattern']">
                    <div class="alert alert-danger">
                        Email is not valid 
                    </div>
                </div>
                  <!-- [(ngModel)]="userData.email" -->
            </div>
            <div class="form-group">
                <label for="userPassword">Password : </label>
                <input type="password" class="form-control" placeholder="password" required  [(ngModel)]="user.userPassword" name="userPassword" required #userPassword="ngModel" pattern="" minlength="8">
                <div *ngIf="userPassword.errors?.['pattern'] ">
                    <div class="alert alert-danger" style="padding: 0;">
                        Password is not valid 
                    </div>
                </div>
                <div *ngIf="userPassword.touched  && userPassword.errors?.['required']">
                    <div class="alert alert-danger" style="padding: 0;">
                        Password is required
                    </div>
                </div>
                <div *ngIf="userPassword.touched && userPassword.errors?.['minlength']">
                    <div class="alert alert-danger">
                        Password is should be minimum 8 char long
                    </div>
                </div>
                <!-- [(ngModel)]="userData.password" -->
                <div class="text-right forget-pass">
                    <a routerLink="/forget-password">Forget Password ?</a>
                </div>
            </div>
            <div class="text-center" >
                <input type="submit" class="btn btn-my" value="Login" [disabled]="loginform.invalid">
                <!-- <a href="welcomeuser">Login</a> -->
            </div>
        </form>
        <div class="text-center sign-up">
            Don`t have an account ? <a href="signup">Sign Up</a> here.
        </div>
    </div>
    <!-- <div [hidden]="submitted">
        <div>
            Email is {{user.userEmail}}
        </div>
        <div>
            Password is {{user.userPassword}}
        </div>
    </div> -->
</div>
</div>
</div>
</div>