<div class="container">

    <form>

      <div>

        <div>

          <h2>WELCOME USER!</h2>

        </div>

        <div class="AvailableFlights">

          <input type="button" name="button" value="Book A Flight">

        </div>

        <div class="AvailableFlights">

          <input type="button" name="button" value="View Available Flights">

        </div>

        <div class="AvailableFlights">

          <input type="button" name="button" value="Cancel A Booking">

        </div>

      </div>

    </form>

  </div>
