/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
/* @import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('../node_modules/simple-keyboard/build/css/index.css'); */
body{
  
  /* background-color: brown; */
  background-image: url('assets/images/image_1.avif');

  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  /* background-position:center center;
  background-repeat: no-repeat;
  background-size: cover; */
  

}
