<!-- <app-login></app-login> -->
<!-- <div class="container">
    <style class="background-image: url('https://images.unsplash.com/photo-1604601815764-6d01fc6bebde?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1665&q=80'); height: 100vh;"></style>
</div> -->
<div class="main">

    <div class="welcome-container">
    
      <h1>Welcome to Flight Management System</h1>
    
      <div class="main-content">
    
       <div class="about-us">
    
        <p>
    
         Flight Management System is a state-of-the-art solution designed to revolutionize the way airlines and aviation professionals manage their flight operations. With a focus on efficiency, safety, and precision, our system offers a comprehensive suite of features tailored to meet the unique demands of the aviation industry.
    
        </p>
    
       </div>
    
       <div class="vertical-line"></div>
       <div class="action-buttons">
        <button routerLink="/login">Login</button>
        <button routerLink="/signup">Sign Up</button>
       </div>
    
      </div>
    
     </div>
    
    </div>